### Проект Мои первые коммиты

In [12]:
import pandas as pd

In [21]:
data = pd.read_csv("data.csv")
data

  id;price;count;sum
0    a;1156;20;23120
1     b;577;20;11540
2      c;353;20;7060
3      d;1348;2;2696
4       e;620;5;3100
5       f;89;30;2670
6        g;27;30;810
7      h;309;20;6180

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 1 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id;price;count;sum  8 non-null      object
dtypes: object(1)
memory usage: 192.0+ bytes